html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://i.pinimg.com/originals/cb/b1/f4/cbb1f479e467c8ba5072aa8b34f7d51f.gif");
  background-size: 100%;
  flex-direction: column;
  opacity: 90%;
}

h1 {
  color: #c31fff;
  font-size: 80px;
}

h2 {
  color: #c31fff;
  font-size: 60px;
  padding: 0;
  margin: 0;
}

#container div {
  margin-top: 60px;
}

button {
  height: 150px;
  width: 250px;
  border-radius: 15px;
  background-color: #d800db;
  opacity: 70%;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover {
  background-color: #960099;
  cursor: pointer;
  opacity: 85%;
}